.connections-module {
    @media all and (max-width: 1035px) and (max-height: 767px) {
        height: auto;
    }
}

origami-header {
    @media all and (max-width: 1023px) and (max-height: 767px) {
        height: auto;
    }
}

router-view {
    @media all and (max-height: 767px) {
        height: auto;
        min-height: 80%;
        margin-bottom: 24px;
    }
}

.o-grid-container {
    @media all and (max-width: 1023px) and (max-height: 767px) {
        height: auto;
    }
}

origami-footer {
    @media all and (max-width: 1023px) and (max-height: 767px) {
        height: auto;
    }

    @media all and (max-height: 767px) {
        position: static;
    }
}

.o-footer {
    @media all and (max-width: 1024px) {
        font-size: 12px;

        .o-footer__copyright {
            margin: 12px 0;
        }

        .o-footer__brand {
            padding: 10px 0;
        }

        .o-footer__pearson-logo,
        .o-footer__brand-logo {
            background-size: 75%;
            background-position: right center;
        }
    }
}

business-card {
    @media all and (max-width: 1023px) {
        width: 75px;
    }

    .business-card {
        .card-top {
            i {
                @media all and (max-width: 1023px) {
                    font-size: 1.6em;
                }
            }
        }
    }
}

browsing-history {
    .browsing-history {
        .arrow-line {
            @media all and (max-width: 1023px) {
                left: 37px;
                width: 1px;
            }
        }
        .material-icons {
            font-size: 18px;
        }
        ul {
            li {
                @media all and (max-width: 1023px) {
                    line-height: 1em;
                    padding: 3px 0;
                }
            }
        }
    }
}