@import 'common/normalize';
@import 'common/origami';
@import 'common/components';

@import 'modules/people';
@import 'modules/connections';
@import 'modules/business-card';
@import 'modules/browsing-history';
@import 'modules/related-content';
@import 'modules/graph';
@import 'modules/search';
@import 'modules/login';

html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
}

origami-header {
    display: block;
    overflow: auto;
}

router-view {
   display: block;
   position: relative;
   height: 75%;
   overflow: hidden;
   overflow-y: auto;

    .connections-module,
    .related-content {
        height: 75vh;
    }
}

// Origami specifics
.core .o--if-js,
.enhanced .o--if-no-js { display: none !important; }
.o-header-label {
    position: absolute;
    top: 12px;
    left: 12px;

    &.o-labels--active {
        left: auto;
        right: 12px;
    }

}

.o-grid-container {
    height: 80vh;
}

origami-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.o-footer {
    margin-top: 0;
}

@import 'mobile';
@import 'desktop';