browsing-history {
    display: block;
    margin-top: 12px;
    background: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

    .browsing-history {
        text-align: center;
        position: relative;
        padding-top: 3px;
        .material-icons {
            color: #2e6e9e;
        }
        .arrow-line {
            display: block;
            position: absolute;
            top: 10px;
            bottom: 0;
            width: 2px;
            left: 49px;
            background: #2e6e9e;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            position: relative;
            z-index: 1;

            li {
                display: block;
                text-align: center;
                font-size: 14px;
                line-height: 1.4em;
                background: white;
                margin: 12px 0;
                padding: 2px 0;
                cursor: help;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .degree-count {
            display: block;
            text-align: center;
            background: #2e6e9e;
            color: white;
            padding: 6px 0;
            font-size: 12px;
            position: relative;
            z-index: 2;
            cursor: help;

            em {
                font-style: normal;
            }
        }
    }
}