browsing-history {
    margin-top: 12px;
    background: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-height: 70%;
    overflow-y: auto;
    position: relative;
    margin-right: -30px;
    padding-right: 30px;

    &.visibility-true {
        display: block;
    }

    &.visibility-false {
        display: none;
    }

    .browsing-history {
        text-align: center;
        position: relative;
        padding: 3px 0 25px 0;
        height: 100%;

        .material-icons {
            color: #2e6e9e;
        }
        .arrow-line {
            display: block;
            position: absolute;
            top: 10px;
            bottom: 0;
            width: 2px;
            left: 49px;
            background: #2e6e9e;
        }

        .clear-btn {
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            text-decoration: none;
            color: #9e2f50;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            position: relative;
            z-index: 1;

            li {
                display: block;
                text-align: center;
                font-size: 14px;
                line-height: 1.4em;
                background: white;
                margin: 12px 0;
                padding: 2px 0;
                cursor: pointer;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .degree-count {
        display: block;
        text-align: center;
        background: #2e6e9e;
        color: white;
        padding: 6px 0;
        font-size: 12px;
        position: absolute;
        z-index: 2;
        cursor: help;
        bottom: 0;
        left: 0;
        right: 0;

        em {
            font-style: normal;
        }
    }
}