@keyframes colorchange
{
    0%   {background: #b1493f;}
    20%  {background: #c36256;}
    30%  {background: #d17c70;}
    40%  {background: #df9c92;}
    50% {background: #ebbcb3;}
    60%  {background: #df9c92;}
    70%  {background: #d17c70;}
    80%  {background: #c36256;}
    100%   {background: #b1493f;}
}

@-webkit-keyframes colorchange
{
    0%   {background: #b1493f;}
    20%  {background: #c36256;}
    30%  {background: #d17c70;}
    40%  {background: #df9c92;}
    50% {background: #ebbcb3;}
    60%  {background: #df9c92;}
    70%  {background: #d17c70;}
    80%  {background: #c36256;}
    100%   {background: #b1493f;}
}

business-card {
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 2;
    width: 100px;
    height: 80%;
    overflow: hidden;
}

.business-card {
    display: block;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    margin-top: 12px;
    background: white;
    clear: both;

    .card-top {
        background: #e9decf;
        height: 60px;
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 3px;

        .person-image {
            display: block;
            font-size: 2em;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            background-size: cover;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: white;
            color: #333;

            &.picture {
                border: solid 1px white;
            }
        }
    }

    .card-middle {
        text-align: center;
        position: relative;
        padding: 10px 6px;
        min-height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        i {
            position: absolute;
            top: -8px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            color: #e9decf;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
        }

        .card-name {
            font-weight: normal;
            display: block;
            position: relative;
            z-index: 10;

            @media all and (max-width: 1023px) {
                font-size: 14px;
            }

            &:hover {
                cursor: help;
            }
        }
    }

    .card-bottom {
        em {
            font-style: normal;
        }
        .connections-number {
            text-align: center;
            font-size: 14px;
            background: #936971;
            color: white;
            padding: 0;
            min-height: 21px;
            margin: 0;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media all and (max-width: 1023px) {
                font-size: 12px;
            }

            &:hover {
                cursor: help;
            }

            &.connections-lookup {
                display: block;
                animation: colorchange 1s;
                animation-iteration-count: infinite;
                -webkit-animation: colorchange 1s;
                -webkit-animation-iteration-count: infinite;
            }

            &.visibility-true {
                display: flex;
            }

            &.visibility-false {
                display: none;
            }
        }

    }
}