@keyframes colorchange
{
    0%   {background: #b1493f;}
    20%  {background: #c36256;}
    30%  {background: #d17c70;}
    40%  {background: #df9c92;}
    50% {background: #ebbcb3;}
    60%  {background: #df9c92;}
    70%  {background: #d17c70;}
    80%  {background: #c36256;}
    100%   {background: #b1493f;}
}

@-webkit-keyframes colorchange
{
    0%   {background: #b1493f;}
    20%  {background: #c36256;}
    30%  {background: #d17c70;}
    40%  {background: #df9c92;}
    50% {background: #ebbcb3;}
    60%  {background: #df9c92;}
    70%  {background: #d17c70;}
    80%  {background: #c36256;}
    100%   {background: #b1493f;}
}

business-card {
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 2;
    width: 100px;
}

.business-card {
    display: block;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    margin-top: 12px;
    background: white;
    clear: both;

    .card-top {
        background: #936971;
        height: 40px;
        text-align: center;
        color: white;
        i {
            display: block;
            font-size: 2em;
            line-height: 40px;
        }
    }

    .card-middle {
        text-align: center;
        position: relative;
        padding: 12px 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        i {
            position: absolute;
            top: -12px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            color: #936971;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
        }

        .card-name {
            font-weight: normal;
            display: block;
            position: relative;
            z-index: 10;

            &:hover {
                cursor: help;
            }
        }
    }

    .card-bottom {
        em {
            font-style: normal;
        }
        .connections-number {
            display: block;
            text-align: center;
            font-size: 14px;
            background: #936971;
            color: white;
            padding: 6px 0;
            margin: 0;
            text-decoration: none;

            &:hover {
                cursor: help;
            }

            &.connections-lookup {
                animation: colorchange 1s;
                animation-iteration-count: infinite;
                -webkit-animation: colorchange 1s;
                -webkit-animation-iteration-count: infinite;
            }
        }

    }
}