.connections-module {
    position: relative;
}

.connections-graph {
    text-align: center;
    background: rgba(255,255,255,0.5);
    position: absolute;
    top: 12px;
    bottom: 0;
    left: 0;
    right: 0;

    .connections-graph-overlay {
        position: absolute;
        top: 6px;
        left: 6px;
        right: 6px;
        bottom: 6px;
        background: rgba(255, 255, 255, 0.5);
        z-index: 1;
        border: solid 1px rgba(39, 117, 123, 0.15);
        border-radius: 3px;
    }

    .connections-people {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        position: absolute;
        bottom: 25%;
    }

}

.button-try-again {
    clear: both;
    display: block;
    margin: 12px auto;
}

.connections-zoom-controls {
    a {
        margin-top: 6px;
    }
}

.connections-mode-selector {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;

    a {
        span {
            text-transform: uppercase;

            &:first-child {
                -webkit-border-top-right-radius: 0;
                -webkit-border-bottom-right-radius: 0;
                -moz-border-top-right-radius: 0;
                -moz-border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-child {
                -webkit-border-top-left-radius: 0;
                -webkit-border-bottom-left-radius: 0;
                -moz-border-top-left-radius: 0;
                -moz-border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}