$default-primary-color: #27757b;
$default-secondary-color: #2bbbbf;

$path-primary-color: #b1493f;
$path-secondary-color: #df9c92;
$path-complimentary-color: #c36256;

$graph-additional-color-one: #2e6e9e;
$graph-additional-color-two: #8ab5cd;

$link-primary-color: #cec6b9;
$link-secondary-color: #a7a59b;

graph-view {
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    left: 12px;
    bottom: 12px;

    .spinner {
        position: relative;
        z-index: 2;
    }

    .connections-context {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        h4 {
            text-align: center;
            display: inline-block;
            color: #8b572a;
            margin: 0;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: normal;
        }
    }

    #graph {
        width: 100%;
        height: 100%;
        &.hidden {
            display: none;
        }
    }

    .svg-container {
        width: 100%;
        height: 100%;
    }

    .node {
        text {
            text-shadow: none;
            fill: #936971;
            white-space: normal;
            text-anchor: middle;

            .no-connection-hint {
                display: none;
                font-size: 12px;
            }
        }

        circle {
            fill: $default-secondary-color;
            stroke: $default-primary-color;
            stroke-width: 6;
            cursor: pointer;
        }

        &.pale {
            circle {
                fill: rgba(39, 117, 123, 0.35);
                stroke: rgba(43, 187, 191, 0.35);
            }

            text {
                fill: rgba(147, 105, 113, 0.35)
            }
        }
    }

    .node-root {
        text {
            fill: #333333;
        }

        circle {
            fill: $path-secondary-color;
            stroke: $path-primary-color;
            stroke-width: 6px;
        }

        &.node-highlighted {
            circle {
                fill: $path-primary-color;
                stroke: $path-secondary-color;
            }
            text {
                fill: #333;
            }
        }

        &.route-highlight {
            circle {
                fill: $graph-additional-color-one;
                stroke: $graph-additional-color-two;
            }

            text {
                fill: $graph-additional-color-one;
            }
        }
    }

    rect {
        fill: transparent;
        display: none;
    }

    .node-no-connection {

        rect {
            display: block;
        }

        text {
            fill: #d66d06;

            .name {
                display: none;
            }
            .no-connection-hint {
                display: block;
            }
        }

        circle {
            fill: $default-primary-color;
            stroke: $default-secondary-color;
            stroke-width: 6px;
        }

        &.pale {
            text {
                fill: #d66d06;
            }
        }
    }

    .node-active {
        text {
            fill: $path-primary-color;
        }
        circle {
            fill: $path-complimentary-color;
            stroke: $path-secondary-color;
            stroke-width: 6px;
        }

        &.pale {
            text {
                fill: $path-primary-color;;
            }
        }

    }

    .node-visited {
        text {
            fill: $path-primary-color;
        }
        circle {
            fill: $path-primary-color;
            stroke: $path-secondary-color;
            stroke-width: 6px;
        }

        &.node-active {
            circle {
                fill: $graph-additional-color-two;
                stroke: $graph-additional-color-one;
            }
            &.pale {
                text {
                    fill: $graph-additional-color-one;
                }
            }
        }

        &.route-highlight {
            circle {
                fill: $graph-additional-color-two;
                stroke: $graph-additional-color-one;
            }
            text {
                fill: $graph-additional-color-one;
            }
        }
    }

    .node-direct {
        circle {
            stroke: $default-secondary-color;
            fill: $default-primary-color;
        }
        text {
            fill: $default-primary-color;
        }
    }


    .link {
        stroke: $link-primary-color;

        &.hover {
            stroke: $path-complimentary-color;
        }

        &.marked {
            stroke: $path-primary-color;
            stroke-width: 4px;

            &.route-highlight {
                stroke: $graph-additional-color-one;
            }
        }

        &.pale {
            stroke: rgba(206, 198, 185, 0.35);
        }

        &.highlighted,
        &.highlighted.pale {
            stroke: $path-complimentary-color;
        }
    }
}

.connections-request-error {
    text-align: center;
    line-height: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 3;

    .error-inner {
        display: inline-block;
        padding: 6px;
        background: #9e2f50;
        border-radius: 3px;
        font-size: 21px;
    }
    i,
    span,
    em {
        display: inline-block;
        vertical-align: middle;
        color: white;
    }

    em {
        display: block;
        clear: both;
    }

    button {
        display: inline-block;
        width: 100px;
        margin: 24px auto;

        &.button-try-again {
            float: right;
        }
    }
}

.button-go-back {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.connections-zoom-controls {
    position: absolute;
    bottom: 0;
    right: 0;

    a {
        display: block;
    }
}

.connections-source-target {
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;

    h2 {
        display: inline-block;
        font-weight: normal;
        color: $graph-additional-color-one;
        background: rgba(255, 255, 255, 0.75);

        border-radius: 3px;
        margin: 0;
        padding: 0 12px;
        line-height: 32px;
        i {
            vertical-align: middle;
            line-height: 32px;
            position: relative;
            top: -1px;
        }
    }
}