graph-view {
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    left: 12px;
    bottom: 12px;

    .spinner {
        position: relative;
        z-index: 2;
    }

    #graph {
        width: 100%;
        height: 100%;
        &.hidden {
            display: none;
        }
    }

    .svg-container {
        width: 100%;
        height: 100%;
    }

    .node {
        text {
            text-shadow: none;
            fill: #936971;
            white-space: normal;
            text-anchor: middle;
        }

        circle {
            fill: #2bbbbf;
            stroke: #27757b;
            stroke-width: 6;
            cursor: pointer;

            &.root {
                fill: #27757b;
                stroke: #2bbbbf;
                stroke-width: 6;
            }
        }
    }

    .node-root,
    .node-active {
        text {
            fill: #27757b;
        }

        circle {
            fill: #27757b;
            stroke: #2bbbbf;
            stroke-width: 6px;


        }
    }

    .node-no-text {
        text {
            fill: none;
        }

        circle {
            fill: #2bbbbf;
            stroke: #27757b;
            stroke-width: 6px;
        }
    }


    .link {
        stroke: #cec6b9;
        stroke-width: 4px;
    }
}

.connections-request-error {
    text-align: center;
    line-height: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 3;

    .error-inner {
        display: inline-block;
        padding: 6px;
        background: #9e2f50;
        border-radius: 3px;
        font-size: 21px;
    }
    i,
    span,
    em {
        display: inline-block;
        vertical-align: middle;
        color: white;
    }

    em {
        display: block;
        clear: both;
    }

    button {
        display: inline-block;
        width: 100px;
        margin: 24px auto;

        &.button-try-again {
            float: right;
        }
    }
}

.button-go-back {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.connections-zoom-controls {
    position: absolute;
    bottom: 0;
    right: 0;

    a {
        display: block;
    }
}