.page-login {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-heght: 100%;

    .page-login-section {
        display: block;
        width: 50%;
        margin: 0 auto;
        position: relative;

        label {
            display: block;
            margin-left: 10px;
        }

        input[type=text],
        input[type=email],
        input[type=password] {
            display: block;
            margin: 10px 0;
            display: block;
        }

        .signin-button {
            margin: 0;
            display: block;
        }
    }

}

login-row {
    display: block;
    position: relative;
    z-index: 2;

    em {
        display: block;
        margin-top: 5px;
    }
}


.log-in-prompt {
    text-align: right;
    margin: 0 auto;
    color: #a7a59b;
    font-size: 14px;
    border-bottom: 1px solid #cec6b9;
    margin: 0 auto;
    padding-bottom: 5px;
    overflow: auto;

    span {
        float: right;
        margin-right: 10px;

        em {
            font-style: normal;
        }
    }

    a {
        display: block;
        color: #74736c;
        text-decoration: none;
        font-size: 18px;
        &:hover {
            text-decoration: underline;
            color: #27757b;
        }
    }
}