.people-list {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .o-grid-row {
        margin: 0 32px;
    }
}

.people-container {
    margin: 16px 5%;
    @media all and (min-width: 1400px) {
        margin: 16px 10%;
    }
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .person {
        text-align: center;
        text-decoration: none;
        color: #333;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 8px 16px 8px;
        width: 96px;

        .person-inner {
            padding: 8px;
            background: #e9decf;
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 3px;

            @media all and (max-width: 1050px) {
                height: 120px;
            }

            @media all and (max-width: 660px) {
                height: 100px;
            }

            .person-name {
                color: #9e2f50;
            }

            .person-image {
                display: block;
                margin-bottom: 8px;

                .image-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                    background: white;
                    border: solid 1px #ffe9d7;
                    margin: 0 auto;
                    border-radius: 50%;
                }

                .picture {
                    display: block;
                    width: 50px;
                    height: 50px;
                    margin: 0 auto;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 50%;
                }
            }

            em {
                font-style: normal;
            }
        }

        .material-icons {
            display: block;
            font-size: 2em;
        }
    }
}

.people-request-error {
    text-align: center;
    line-height: 24px;
    .error-inner {
        display: inline-block;
        padding: 6px;
        background: #9e2f50;
        border-radius: 3px;
    }
    i,
    span {
        display: inline-block;
        vertical-align: middle;
        color: white;
    }
}

.main-title {
    padding: 0;
    &.section-meta {
        position: relative;
        text-align: center;
        width: 80%;
        margin: 0 auto;

        h2 {
            display: inline-block;
            font-size: 28px;
            font-family: MetricWeb, sans-serif;
            line-height: 40px;
            margin: 0 auto;
            font-weight: normal;
            text-transform: uppercase;
            color: #416e92;
            background: #fff1e0;
            position: relative;
            padding: 0 16px;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            margin: -4px auto 0 auto;
            height: 9px;
            width: 100%;
            background: transparent url('../img/origami/section-header-bg.svg?source=next&format=svg&tint=000000,000000') repeat;
        }
    }
}

.content-label {
    display: block;
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 auto;
    width: 70%;
    text-align: center;
    color: #9e2f50;

    em {
        font-style: normal;
    }
}