.related-content {
    .related-content-header {
        background: transparent url("https://next-geebee.ft.com/image/v1/images/raw/http%3a%2f%2fnext-geebee.ft.com%2fassets%2fbackgrounds%2ffront-page-section-header-v2.svg?source=next&format=svg&tint=000000,000000") repeat scroll 0 0;
        width: 100%;
        overflow: auto;
        margin: 24px 0 12px 0;
    }
    .article-title {
        font-size: 16px;
        display: block;
        margin-bottom: 6px;
    }
    .article-excerpt {
        font-size: 14px;
    }
    .article-details {
        overflow: auto;
        background: #e9decf;
        padding: 6px;
    }
    .article-thumbnail {
        float: left;
        width: 50px;
        height: 50px;
        margin: 0 6px 0 0;
        background-size: cover;
        background-position: -15px center;
    }
    h3 {
        font-weight: normal;
        color: #416e92;
        background: #fff1e0;
        float: left;
        margin: 0 0 0 12px;
        padding: 0 12px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: block;
            padding: 6px 0;
            border-bottom: solid 1px #e9decf;
            overflow: auto;

            p {
                margin: 0;

                a:link,
                a:visited {
                    color: #333333;
                }

                a:hover {
                    color: #936971
                }
            }

            a:link,
            a:visited {
                text-decoration: none;
            }

            a:hover,
            a:active {
                text-decoration: underline;
            }

            .article-title {
                color: #333333;
                padding-left: 6px;

                &:hover {
                    color: #936971
                }
            }

            .article-more {
                float: right;
                margin-top: 6px;
                text-decoration: none;
            }

            .article-byline {
                display: block;
                margin: 0 0 2px 0;
                line-height: 16px;
                font-size: 14px;
                font-style: italic;
            }

            .article-published {
                display: block;
                font-size: 12px;
                color: #8b572a;
            }
        }
    }

    .o-buttons.more {
        float: right;
        margin-top: 12px;
    }
}