.related-content {
    overflow: hidden;
    overflow-y: auto;
    padding: 0 40px 24px 0;
    margin-right: -40px;
    .related-content-header {
        position: relative;
        background: transparent url("https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Fbackgrounds%2Ffront-page-section-header-v2.svg?source=next&format=svg&tint=000000,000000") repeat scroll 0 0;
        width: 100%;
        overflow: auto;
        margin: 24px 0 12px 0;
    }

    .related-articles {
        margin-top: 6px;
    }

    h3 {
        font-weight: normal;
        color: #416e92;
        background: #fff1e0;
        float: left;
        margin: 0 0 0 12px;
        padding: 0 12px;
        position: relative;
        z-index: 1;
    }

    ul {
        list-style-type: none;
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;

        li {
  	        display: inline-block;
            border-top: solid 1px #e9decf;
            overflow: auto;
            vertical-align: top;

            width: 100%;

            @media all and (min-width: 1024px),
                all and (max-width: 739px) {
                width: 50%;

                &:nth-child(even) {
                    .article-details {
                        border-left: solid 1px #e9decf;
                        padding: 0 0 0 10px;
                    }
                }

                &:nth-child(odd) {
                    .article-details {
                        padding: 0 10px 0 0;
                    }
                }
            }

            .article-title {
                font-size: 18px;
                display: block;
                font-family: FinancierDisplayWeb, serif;
            }
            .article-excerpt {
                font-size: 14px;
            }
            .article-details {
                overflow: auto;
                margin: 12px 0;
                position: relative;
            }
            .article-thumbnail {
                img {
                    display: block;
                    width: 100%;
                    margin-bottom: 5px;
                }

                &.default {
                    display: block;
                    width: 100%;
                    height: 75px;
                    margin-bottom: 5px;
                    background: #e9decf url('../img/ftcom-logo.png') no-repeat center center;
                    background-size: auto 60%;
                }
            }

            p {
                margin: 0;

                a:link,
                a:visited {
                    color: #333333;
                }

                a:hover {
                    color: #936971
                }
            }

            a:link,
            a:visited {
                text-decoration: none;
                color: #333333;
            }

            a:hover,
            a:active {
                text-decoration: underline;
                color: #936971;
            }

            .article-more {
                float: right;
                margin-top: 6px;
                text-decoration: none;
            }

            .article-byline {
                display: block;
                margin: 3px 0 5px 0;
                line-height: 16px;
                font-size: 14px;
                font-style: italic;
                color: #333333;
            }

            .article-published {
                display: block;
                font-size: 12px;
                color: #8b572a;
            }
        }
    }

    .o-buttons.more {
        float: right;
        margin-top: 12px;
    }
}

.duo-content-reset-link {
    display: block;
    font-size: 12px;
    font-style: normal;
    overflow: auto;
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: -5px;

    a {
        display: inline-block;
        text-decoration: none;
        margin: 0;
        color: #27757b;

        &:hover {
            color: #2bbbbf;
        }
    }
}

.not-found {
    padding: 6px 0;
}
