search-row {
    display: block;
    position: relative;
    top: 0;
    h1 {
        font-weight: normal;
        color: #936971;
    }

    @media all and (min-width: 1024px) {
        width: 40%;
        margin: 0 auto;
    }
}

.iftt-search-row-wrapper {

    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    transition-property: opacity;
    transition-duration: 0.5s;

    &.shown {
        opacity: 1;
        top: auto;
    }
    &.hidden {
        opacity: 0;
        overflow: hidden;
    }
}

.iftt-search-row-field {
    margin: 20px auto 0 auto;
    position: relative;
    width: 65%;

    @media all and (min-width: 1024px) {
        width: 100%;
    }

    input[type=text] {
        width: 94%;
        padding: 0 3%;
        border: none;
        background: transparent;
        font-size: 1.6em;
        line-height: 46px;
        color: #936971;
        background: white;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.1);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        position: relative;
        z-index: 25;

        &:focus {
            outline: none;
            background: white;
        }
    }
}

.iftt-search-hints {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #eeeeee;
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    z-index: 20;
    border: solid 1px #dddddd;
    border-top-color: transparent;
    border-radius: 2px;
    max-height: 80vh;
    overflow: hidden;

    li {
        border-top: solid 1px #dddddd;
        width: 100%;
        &:first-child {
            border-top: none;
        }
        a {
            display: block;
            text-decoration: none;
            font-size: 1.2em;
            line-height: 46px;
            padding: 0 3%;
            color: #74736c;

            &.active {
                background: #dddddd;
                color: #505050;
            }

            span {
                float: right;
                font-size: 12px;

                &.left {
                    float: left;
                }
            }
        }
    }
}

.iftt-organisations-results {
    ul {
        margin: 0;
        padding: 0;
        text-align: center;
        list-style-type: none;

        li {
            display: inline-block;
            margin: 6px;
        }
    }
}