.spinner {
    display: inline-block;
    background: transparent url('../img/components/spinner.gif') no-repeat center center;
    width: 100%;
    min-width: 120px;
    height: 100%;
    min-height: 120px;
}